:root {
  --primary-color: #212121;
  --secondary-text-color: #757575;
  --main-hover-color: #2196f3;
  --accent-color: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  font-style: normal;
}
button {
  cursor: pointer;
}
body {
  font-family: "Raleway", "Roboto";
  font-style: normal;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 1250px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*--------------------- header-------------- */
.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__nav {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: var(--main-hover-color);
}
.page-header__logo--color {
  color: var(--primary-color);
}
.list {
  display: flex;
}
.site-nav__item {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;
  padding: 32px 0;
  color: var(--primary-color);
}
.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  fill: var(--secondary-text-color);
  transition: color fill 250ms var(--timing-function);
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--main-hover-color);
  fill: var(--main-hover-color);
}
.site-nav__link--current {
  color: var(--main-hover-color);
}

.site-nav__link::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--main-hover-color);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms var(--timing-function);
}
.site-nav__link--current::after {
  transform: scaleX(1);
}
.site-nav__link:hover::after {
  transform: scaleX(1);
}
.auth-nav__list {
  margin-left: 344px;
}
.auth-nav__link {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-right: 50px;
}
.auth-nav__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--main-hover-color);
  fill: var(--main-hover-color);
  transition: color fill 250ms var(--timing-function);
}
/*--------------------- hero-------------- */

.hero {
  height: 600px;
  color: var(--accent-color);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background-img.jpg");
}
.hero__title {
  width: 696px;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 106px;
  color: var(--accent-color);
}
.hero__button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  background-color: var(--main-hover-color);
  color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}
.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 1200ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  padding: 40px;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  transition: transform 1200ms var(--timing-function);
}
.topic-options {
  display: flex;
  flex-direction: column;
}
.topic-options__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.topic-options__label {
  position: relative;
  width: 100%;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  justify-content: left;
}

.topic-options__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 4px;
  margin-bottom: 10px;
}

.topic-options__input:hover,
.topic-options__input:focus {
  border: 1px solid #2196f3;
}
.topic-options__input:hover + .topic-options__icon,
.topic-options__input:focus + .topic-options__icon {
  fill: var(--main-hover-color);
  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.topic-options__icon {
  position: absolute;
  top: 55%;
  left: 13px;
  transform: translateY(-50%);
}

.topic-options__textarea {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.checkbox__label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 13px;
  color: var(--secondary-text-color);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.checkbox__input {
  position: absolute;
  appearance: none;
  display: inline-block;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../images/icon-check.svg);
  border: 2px solid #2a2a2a;
  border-radius: 2px;
  margin-right: 7px;
}
.checkbox__input:checked + .checkbox__icon {
  background-color: var(--main-hover-color);
  background-origin: border-box;
  border-color: var(--main-hover-color);
  transition: background-color 250ms var(--timing-function);
}
.checkbox__link {
  color: #2196f3;
  text-decoration-line: underline;
  margin-left: 3px;
}
.topic-options__button {
  display: flex;
  justify-content: center;
}
.topic-options__send {
  background: #2196f3;
  border-radius: 4px;
  padding: 10px 52px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-function);
}
.topic-options__send:hover,
.topic-options__send:focus {
  background-color: #188ce8;
}
.topic-options__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.topic-options__icon-close {
  fill: black;
}
.topic-options__close-btn:hover .topic-options__icon-close {
  fill: var(--main-hover-color);
}
/*--------------------- features-------------- */
.features__title--hidden,
.services__title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.features__list {
  display: flex;
  justify-content: space-between;
}
.features__item {
  width: 270px;
  margin-right: 30px;
}
.features__item:nth-last-child(1) {
  margin-right: 0;
}
.features__title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--primary-color);
}
.features__text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.features__icon {
  display: flex;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

/*--------------------- what we do-------------- */
.work {
  text-align: center;
}
.work__list {
  display: flex;
}
.work__title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--primary-color);
}
.work__item {
  position: relative;
  display: flex;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  padding-top: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
/*--------------------- our team-------------- */
.team {
  background: #f5f4fa;
  text-align: center;
}
.team__title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  color: var(--primary-color);
}
.team__list {
  display: flex;
}
.team__item {
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  padding-top: 30px;
  color: var(--primary-color);
}
.team__profession {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  padding-top: 10px;
  padding-bottom: 30px;
  color: var(--secondary-text-color);
}
.social-link__button {
  width: 44px;
  height: 44px;
  background-color: inherit;
  border: none;
  border-radius: 50%;
  padding: 12px;
  margin-bottom: 30px;
  fill: var(--secondary-text-color);
  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.social-link__button:hover {
  background-color: #2196f3;
  fill: var(--accent-color);
}
.social-link__icon {
  width: 20px;
  height: 20px;
}

/*--------------------- clients-------------- */
.clients__title {
  font-family: "Roboto";
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--primary-color);
}
.clients__list {
  display: flex;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__button {
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  background-color: unset;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}

.clients__button:hover,
.clients__button:focus {
  fill: var(--main-hover-color);
  border-color: var(--main-hover-color);
}
/*--------------------- footer-------------- */

.footer {
  background-color: #2f303a;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.footer__logo--color {
  color: var(--accent-color);
}
.footer__contact {
  padding-top: 60px;
}
.contact__item:first-child {
  margin-top: 30px;
}
.contact__item:not(:last-child) {
  margin-bottom: 9px;
}
.contact__link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 9px;
}
.contact__link--color {
  color: rgba(255, 255, 255, 0.6);
}
.contact__link:hover,
.contact__link:focus {
  color: var(--main-hover-color);
}

.social {
  margin-left: 70px;
  padding-top: 72px;
}
.social__title {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--accent-color);
}
.social__list {
  display: flex;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__button {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: none;
  padding: 12px;
  fill: var(--accent-color);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}
.social__button:hover,
.social__button:focus {
  background-color: var(--main-hover-color);
}

.mailing {
  margin-left: 40px;
  padding-top: 72px;
  position: relative;
}
.mailing__title {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.mailing__email {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
}
.mailing__button {
  width: 200px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-left: 12px;
  padding: 10px 62px 10px 28px;
  border: none;
}

.mailing__email::placeholder {
  font-family: "Roboto";
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing__email {
  color: #fff;
}
.mailing__icon {
  position: absolute;
  left: 520px;
  top: 120px;
}
/* -----------------------------PORTFOLIO---------------------- */

/* -----------------------------services---------------------- */
.services__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.services__item {
  margin-right: 8px;
}

.services__button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 25px;
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-colo);
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}
.services__button--current {
  background-color: var(--main-hover-color);
  color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.services__button:hover,
.services__button:focus {
  background-color: var(--main-hover-color);
  color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ---------------------pages------------------ */
.gallery__list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
}
.gallery__item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.gallery__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery__item:nth-child(3n) {
  margin-right: 0px;
}

.gallery__overlay {
  position: relative;
  display: flex;
}
.gallery__overlay::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 250ms var(--timing-function);
}
.gallery__text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 250ms var(--timing-function);
}
.gallery__link:hover .gallery__overlay::before {
  transform: scaleY(1);
}
.gallery__link:hover .gallery__text {
  transform: scaleY(1);
}

.cards {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}
.card__name {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}
.card__description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
