.container {
    width: 1250px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
